body {
    background-color: rgb(151, 15, 15);
}

h1 {
    background-color: rgb(221, 135, 149);
    color: rgb(255, 254, 254);
}

#showsketch {
    float: right;
}

canvas {
    border: 5px solid white;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}p {
    background-color: rgb(221, 135, 149);
    color: rgb(255, 254, 254);
}